<h1>Enter Company Information</h1>
<form action="/companies" method="post">
  <label for="name">Company Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="website">Company Website:</label>
  <input type="text" id="website" name="website"><br><br>
  <label for="headquarters">Company Headquarters</label>
  <input type="text" id="headquarters" name="headquarters"><br><br>
  <input type="submit" value="Submit">
</form>