<h1>Welcome to the Job Application Tracker!</h1>
<% if session[:id] %>
  <a href="/companies/new"><h2>Create a New Application</h2></a>
  <a href="/applications"><h2>View All Applications</h2></a>
  <a href="/interviews"><h2>View All Interviews</h2></a>
<% end %>