<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Application Tracker</title>
</head>
<body>
  <a href="/">Home</a>
  <% if logged_in? %>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/signup">Signup</a>
    <a href="/login">Log In</a>
  <% end %>
  <%= yield %>
  <% if flash[:error] %>
    <% flash[:error].each do |e| %>
      <p class="error_message"><%= e + "." %></p>
    <% end %>
  <% end %>
</body>
</html>